body{
    font-family:Arial;
    text-align:center;
    background:#eef2f7;
}

h1{
    margin-top:40px;
}

.container{
    margin-top:50px;
}

button{
    display:block;
    width:250px;
    margin:20px auto;
    padding:15px;
    border:none;
    background:#27ae60;
    color:white;
    cursor:pointer;
}